{
  "user": {
    "name": "sample",
    "password": "sample",
    "ssh_key": "sample"
  },
  "rbenv": {
    "versions": ["2.2.0"],
    "global": "2.2.0",
    "gems": ["bundler"]
  },
  "nginx": {
    "server_name": "192.168.33.20",
    "port": "80",
    "app_dir": "sample",
    "app_code": "sample"
  },
  "sshd": {
    "port": 22,
    "maxStartups" : 10,
    "permitRootLogin" : "yes",
    "rSAAuthentication" : "yes",
    "pubkeyAuthentication" : "yes",
    "authorizedKeysFile" : ".ssh/authorized_keys",
    "passwordAuthentication" : "yes"
  },
  "iptables": {
    "ssh": {
      "port": 22
    }
  }
}
